# Исключаем файлы и папки, которые не нужны в контейнере
__pycache__/
*.pyc
*.pyo
*.pyd

# Виртуальная среда
venv/

# Логи
*.log

# Прочие временные файлы
*.DS_Store
*.env

# Исключаем модули и зависимости
*.egg-info/
dist/
build/

# Исключения для IDE
.vscode/
.idea/
